html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

[class*="megapony-object-columns-"] {
  margin-right: -8px;
  margin-right: -0.5rem;
  margin-left: -8px;
  margin-left: -0.5rem; }
  [class*="megapony-object-columns-"]:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  [class*="megapony-object-columns-"] [class*="megapony-object-column"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    display: block;
    padding-right: 8px;
    padding-right: 0.5rem;
    padding-left: 8px;
    padding-left: 0.5rem; }
    [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small {
      clear: both;
      float: none;
      display: block;
      width: auto !important;
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
      [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small p {
        color: green; }
      [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small > * {
        float: none !important; }
  [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] {
    margin: 0; }
    [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] [class*="megapony-object-column"]:first-of-type {
      padding-left: 0; }
    [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] [class*="megapony-object-column"]:last-of-type {
      padding-right: 0; }

[class*="megapony-object-columns-2"] > [class*="megapony-object-column"] {
  width: 50%; }

[class*="megapony-object-columns-2-1-11"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 8.33333%; }
[class*="megapony-object-columns-2-1-11"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 91.66667%; }

[class*="megapony-object-columns-2-2-10"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-2-2-10"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 83.33333%; }

[class*="megapony-object-columns-2-3-9"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-2-3-9"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 75%; }

[class*="megapony-object-columns-2-4-8"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-2-4-8"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 66.66667%; }

[class*="megapony-object-columns-2-5-7"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-2-5-7"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 58.33333%; }

[class*="megapony-object-columns-2-6-6"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 50%; }
[class*="megapony-object-columns-2-6-6"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 50%; }

[class*="megapony-object-columns-2-7-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 58.33333%; }
[class*="megapony-object-columns-2-7-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }

[class*="megapony-object-columns-2-8-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 66.66667%; }
[class*="megapony-object-columns-2-8-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }

[class*="megapony-object-columns-2-9-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 75%; }
[class*="megapony-object-columns-2-9-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }

[class*="megapony-object-columns-2-10-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 83.33333%; }
[class*="megapony-object-columns-2-10-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }

[class*="megapony-object-columns-3"] > [class*="megapony-object-column"] {
  width: 33.33333%; }

[class*="megapony-object-columns-4"] > [class*="megapony-object-column"] {
  width: 25%; }

[class*="megapony-object-columns-5"] > [class*="megapony-object-column"] {
  width: 20%; }

[class*="megapony-object-columns-6"] > [class*="megapony-object-column"] {
  width: 16.66667%; }

[class*="megapony-object-columns-7"] > [class*="megapony-object-column"] {
  width: 14.28571%; }

[class*="megapony-object-columns-8"] > [class*="megapony-object-column"] {
  width: 12.5%; }

[class*="megapony-object-columns-9"] > [class*="megapony-object-column"] {
  width: 11.11111%; }

[class*="megapony-object-columns-10"] > [class*="megapony-object-column"] {
  width: 10%; }

[class*="megapony-object-columns-11"] > [class*="megapony-object-column"] {
  width: 9.09091%; }

[class*="megapony-object-columns-12"] > [class*="megapony-object-column"] {
  width: 8.33333%; }

html {
  font-size: 16px;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  html.megapony-loading.javascript-is-enabled {
    overflow: hidden; }
    html.megapony-loading.javascript-is-enabled .megapony-loading {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: white url(../Images/_megapony/background/megapony-loading.gif) no-repeat center center;
      z-index: 9999; }

body {
  background: white;
  color: #3b3b3b;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

#page {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.megapony-delimiter {
  max-width: 960px;
  max-width: 60rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  margin: 0 auto; }
  .megapony-delimiter:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .javascript-is-disabled .megapony-delimiter {
    width: 960px;
    width: 60rem; }

img, embed, object {
  max-width: 100% !important;
  height: auto; }

img {
  display: inline-block;
  vertical-align: middle; }

.megapony-rwd-table-container.megapony-max-width-640 .rwd-table {
  display: none; }
.megapony-rwd-table-container.megapony-min-width-640 .stacktable {
  display: none; }

.megapony-object-hnav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.megapony-object-hnav ul {
  margin-bottom: 0;
  margin-top: 0; }
  .megapony-object-hnav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-hnav ul li {
    position: relative; }
    .megapony-object-hnav ul li:hover ul {
      display: block; }
    .megapony-object-hnav ul li ul {
      left: 0;
      right: 0; }
    .megapony-object-hnav ul li a {
      display: block;
      line-height: 1em; }
.megapony-object-hnav > ul > li {
  float: left;
  height: 100%;
  list-style: none;
  line-height: 1em;
  margin-right: 10px;
  margin-right: 0.625rem; }
  .megapony-object-hnav > ul > li:last-child {
    margin-right: 0; }
  .megapony-object-hnav > ul > li ul {
    display: none;
    position: absolute;
    top: 100%; }
.megapony-object-hnav.breakpoint-small > ul {
  display: none;
  float: left;
  width: 100%; }
  .megapony-object-hnav.breakpoint-small > ul > li {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
    .megapony-object-hnav.breakpoint-small > ul > li:hover ul {
      position: static; }
.megapony-object-hnav.breakpoint-small .toggle {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 38px;
  height: 27px;
  background: #438fc1;
  background: #2E3230; }
  .megapony-object-hnav.breakpoint-small .toggle:before, .megapony-object-hnav.breakpoint-small .toggle:after {
    border: 2px solid #fff;
    content: '';
    left: 30%;
    position: absolute;
    right: 30%;
    top: 30%; }
  .megapony-object-hnav.breakpoint-small .toggle:after {
    top: 60%; }

.megapony-object-hlist > ul {
  margin-bottom: 0;
  margin-top: 0; }
  .megapony-object-hlist > ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-hlist > ul > li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 1em; }

.megapony-object-media {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }
  .megapony-object-media .img {
    float: left;
    margin-right: 10px; }
    .megapony-object-media .img img {
      display: block; }
  .megapony-object-media .imgExt {
    float: right;
    margin-left: 10px; }
  .megapony-object-media .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1; }
    .megapony-object-media .bd.in-text {
      overflow: visible; }

.megapony-object-halign {
  text-align: center;
  position: relative; }
  .megapony-object-halign:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-halign > * {
    text-align: left;
    vertical-align: top; }
  .megapony-object-halign .center {
    display: inline-block;
    text-align: left;
    float: none; }
    .megapony-object-halign .center.text-align-center {
      text-align: center; }
  .megapony-object-halign .left {
    float: left;
    margin-right: 20px;
    margin-right: 1.25rem; }
  .megapony-object-halign .right {
    float: right;
    margin-left: 20px;
    margin-left: 1.25rem; }
  .megapony-object-halign.no-side-by-side.megapony-object-valign-middle {
    display: block; }
  .megapony-object-halign.no-side-by-side .left, .megapony-object-halign.no-side-by-side .center, .megapony-object-halign.no-side-by-side .right {
    float: none;
    margin: 0;
    width: auto;
    max-width: 100%; }
    .megapony-object-halign.no-side-by-side .left:last-child, .megapony-object-halign.no-side-by-side .center:last-child, .megapony-object-halign.no-side-by-side .right:last-child {
      margin-bottom: 0; }
  .megapony-object-halign.no-side-by-side .left {
    margin-right: 0; }
  .megapony-object-halign.no-side-by-side .right {
    margin-left: 0; }

.megapony-object-valign-middle {
  text-align: left;
  display: table;
  width: 100%; }
  .megapony-object-valign-middle .left, .megapony-object-valign-middle .center, .megapony-object-valign-middle .right {
    float: none;
    display: table-cell;
    vertical-align: middle; }
  .megapony-object-valign-middle .right > * {
    float: right; }

body.megapony-max-width-600 .l-banner {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-top: 20px;
  padding-top: 1.25rem; }
  body.megapony-max-width-600 .l-banner #main-nav.breakpoint-small .toggle {
    top: 20px;
    top: 1.25rem; }

.simple-ul {
  list-style: outside disc;
  margin-left: 18px;
  margin-left: 1.125rem; }
  .simple-ul li {
    margin-bottom: 6px;
    margin-bottom: 0.375rem;
    padding-left: 5px;
    padding-left: 0.3125rem; }

.leader.megapony-max-width-500 {
  line-height: 1; }

.l-banner {
  background: #2E3230;
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem; }
  .l-banner > .megapony-object-halign .left {
    margin-right: 20px;
    margin-right: 1.25rem; }
  .l-banner > .megapony-object-halign.megapony-max-width-480 h1 {
    font-size: 24px;
    font-size: 1.5rem; }
  .l-banner h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1; }
  .l-banner #main-nav {
    position: static; }
    .l-banner #main-nav.breakpoint-small .toggle {
      right: 30px;
      right: 1.875rem;
      background: #fff; }
      .l-banner #main-nav.breakpoint-small .toggle:before, .l-banner #main-nav.breakpoint-small .toggle:after {
        border: 2px solid #2E3230; }
    .l-banner #main-nav > ul > li {
      min-width: 160px;
      min-width: 10rem; }
      .l-banner #main-nav > ul > li:last-child {
        margin-right: 0; }
      .l-banner #main-nav > ul > li > a {
        text-align: center;
        padding-top: 15px;
        padding-top: 0.9375rem;
        padding-bottom: 15px;
        padding-bottom: 0.9375rem;
        padding-left: 28px;
        padding-left: 1.75rem;
        padding-right: 28px;
        padding-right: 1.75rem; }
    .l-banner #main-nav li {
      background-color: rgba(255, 255, 255, 0.08); }
      .l-banner #main-nav li a {
        text-decoration: none;
        color: #fff; }
      .l-banner #main-nav li ul li {
        background-color: #3E4240;
        border-top: 1px solid #333; }
        .l-banner #main-nav li ul li a {
          padding-top: 10px;
          padding-top: 0.625rem;
          padding-bottom: 10px;
          padding-bottom: 0.625rem;
          padding-left: 15px;
          padding-left: 0.9375rem;
          padding-right: 15px;
          padding-right: 0.9375rem; }
  .l-banner #meta-nav li {
    margin-right: 10px;
    margin-right: 0.625rem;
    padding-top: 5px;
    padding-top: 0.3125rem;
    padding-bottom: 5px;
    padding-bottom: 0.3125rem;
    padding-left: 10px;
    padding-left: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
    background-color: rgba(255, 255, 255, 0.03); }
    .l-banner #meta-nav li:last-child {
      margin-right: 0; }
    .l-banner #meta-nav li a {
      color: #fff; }
  .l-banner .no-side-by-side #main-nav:not(.breakpoint-small) {
    margin-top: 20px;
    margin-top: 1.25rem; }

.l-footnote {
  font-size: 14px;
  font-size: 0.875rem;
  background: #f5f5f5;
  margin-top: 100px;
  margin-top: 6.25rem; }
  .l-footnote p {
    margin: 0;
    padding-top: 15px;
    padding-top: 0.9375rem;
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }

.l-intro {
  background: #eee;
  padding-top: 35px;
  padding-top: 2.1875rem;
  padding-bottom: 35px;
  padding-bottom: 2.1875rem; }
  .l-intro .leader {
    margin-bottom: 0; }
    .l-intro .leader.megapony-min-width-1100.megapony-max-width-1200 {
      color: red; }
    .l-intro .leader.megapony-max-width-1150 {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 34px;
      line-height: 2.125rem; }

.l-hero {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  background: #f5f5f5; }
  .l-hero .intro-text {
    padding-top: 80px;
    padding-top: 5rem;
    padding-left: 45px;
    padding-left: 2.8125rem; }
  .l-hero.megapony-max-width-768 [class*="megapony-object-columns-"] {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .l-hero.megapony-max-width-768 [class*="megapony-object-columns-"] [class*="megapony-object-column"] {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important; }

.l-features .l-section {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  border-bottom: 1px solid #ddd; }

.l-cssobjects #demo-object-hnav {
  position: relative;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem;
  background: #f5f5f5;
  min-height: 27px;
  min-height: 1.6875rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }
  .l-cssobjects #demo-object-hnav li {
    padding-left: 25px;
    padding-left: 1.5625rem;
    padding-right: 25px;
    padding-right: 1.5625rem;
    margin-right: 0; }
    .l-cssobjects #demo-object-hnav li:first-child {
      padding-left: 0; }
    .l-cssobjects #demo-object-hnav li:last-child {
      border-right: 0 none; }
  .l-cssobjects #demo-object-hnav.breakpoint-small > ul > li > a {
    background: #fff;
    padding-top: 8px;
    padding-top: 0.5rem;
    padding-bottom: 8px;
    padding-bottom: 0.5rem;
    padding-left: 12px;
    padding-left: 0.75rem;
    padding-right: 12px;
    padding-right: 0.75rem; }
.l-cssobjects .megapony-object-media .img {
  margin-right: 20px;
  margin-right: 1.25rem; }
.l-cssobjects .megapony-object-media .leader {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem; }

.l-columns [class*="megapony-object-columns-"] {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

p, pre, blockquote, ul, ol, dl, figure, table, fieldset, .css-object {
  margin-bottom: 32px;
  margin-bottom: 2rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.1em;
  margin: 0; }

h1 {
  font-weight: 700;
  font-size: 46px;
  font-size: 2.875rem;
  margin-bottom: 0.5em; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.leader {
  font-family: Georgia, serif;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: 1.5em; }

a {
  color: #438fc1; }
  a:visited {
    color: #9db2c0; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

code {
  white-space: normal;
  font-weight: bold;
  color: #000; }

table {
  width: 100%; }
  table th {
    background: #eee;
    text-align: left;
    padding: 7px 8px; }
  table td {
    text-align: left;
    padding: 5px 8px; }
  table tr:nth-child(odd) td {
    background: #f5f5f5; }
