
// LAYOUT SETTINGS (declaration in px)

$container-max-width: 960;
$container-side-space: 30;

$grid-columns: 12;
$grid-gutter: 16;


// CSS Objects (declaration in px)

// hnav
$default-styling-hnav: true;
$hnav-margin: 10;

// halign
$default-styling-halign: true;
$halign-margin: 40;


// FONT SIZE (declaration in px)

$base-font-size: 16;
$base-line-height: 24;

$headline-sizes: 46, 28, 18, 18, $base-font-size;
$headline-default-margins: true;


// COLORS

$link-color: #438fc1;
$link-color-visited: #9db2c0;
$body-bg: #fff;
$body-text: #3b3b3b;


// FONT FAMILIES

$body-font: Arial, sans-serif;
$leader-font: Georgia, serif;


// MISC

$text-flow-margin: $base-font-size * 2;
$responsive-table-breakpoint: 640;