
// LAYOUT SETTINGS (declaration in px)
$container-max-width: 960;
$container-side-space: 30;

// GRID
$grid-columns: 12;
$grid-gutter: 30;

// FONT SIZE (declaration in px)
$base-font-size: 16;
$base-line-height: 24;

// LOADING ANIMATION
$spinner-bg-color-hex: #fff;
$spinner-color-r: 0;
$spinner-color-g: 0;
$spinner-color-b: 0;
$spinner-size: 40;