@mixin rem($property, $value) {
	#{$property}: $value + 0px;
	#{$property}: 1 / $base-font-size * $value + 0rem;
}

@function em($target, $context: $base-font-size) {
	@return 1 / $context * $target + 0em;
}

@mixin clear-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin box-sizing($type) {
	box-sizing: $type;
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
	-ms-box-sizing: $type;
}

@mixin hnav-small {
	> ul {
		display: none;
		float: left;
		width: 100%;
		> li {
			width: 100%;
			@include box-sizing(border-box);
			margin-right: 0;
			padding-left: 0 !important;
			padding-right: 0 !important;
			border-left: 0 none !important;
			border-right: 0 none !important;
			@include rem(margin-bottom, 10);
			&:hover {
				ul {
					position: static;
				}
			}
		}
	}
	.toggle {
		display: inline-block;
		cursor: pointer;
	}
}


@mixin vnav-dropdown {
	.toggle {
		display: inline-block;
		cursor: pointer;
	}
	ul {
		display: none;
	}
}


@mixin single-column {
	[class*="megapony-object-columns-"] {
		margin-left: 0 !important;
		margin-right: 0 !important;
		[class*="megapony-object-column"] {
			width: 100%;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
