// 6er grid reicht

[class*="megapony-object-columns-"] {
	@include clear-after;
	margin: 0 rem($grid-gutter/2) * -1;

	[class*="megapony-object-column"] {
		@include box-sizing(border-box);
		float: left;
		display: block;
		padding: 0 rem($grid-gutter/2);
		&.megapony-max-width-320 {
			float: none;
			display: block;
			padding: 0;
			width: auto !important;
			margin-bottom: rem(30);
			p { color: green; }
			> * { float: none !important; }
		}
	}
  [class*="megapony-object-columns-"] {
	  margin: 0;
	  [class*="megapony-object-column"] {
		  &:first-of-type { padding-left: 0; }
		  &:last-of-type { padding-right: 0; }
	  }
  }
}

@for $column-count from 2 to $grid-columns + 1 {

  // by default, every column should be equal
  [class*="megapony-object-columns-#{$column-count}"] {
    > [class*="megapony-object-column"] {
		width: percentage($grid-columns / $column-count / $grid-columns);
	}
  }

  @for $first-col from 1 to $grid-columns - 1 {
    @if $column-count == 2 {
		$second-col: $grid-columns - $first-col;
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}-#{$second-col}"],
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}r-#{$second-col}"],
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}-#{$second-col}r"],
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}r-#{$second-col}r"] {
			> [class*="megapony-object-column"]:nth-of-type(1) { width: percentage($first-col / $grid-columns); }
			> [class*="megapony-object-column"]:nth-of-type(2) { width: percentage($second-col / $grid-columns); }
		}
		// content of second column can optionally be floated
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}r-#{$second-col}"] {
			> [class*="megapony-object-column"]:nth-of-type(1) > * { float: right; }
		}
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}-#{$second-col}r"] {
			> [class*="megapony-object-column"]:nth-of-type(2) > * { float: right; }
		}
		[class*="megapony-object-columns-#{$column-count}-#{$first-col}r-#{$second-col}r"] {
			> [class*="megapony-object-column"]:nth-of-type(1) > * { float: right; }
			> [class*="megapony-object-column"]:nth-of-type(2) > * { float: right; }
		}
    }
  }
}