
// hnav object
.megapony-object-hnav {
	@include clear-after;
	ul {
		@include clear-after;
		margin-bottom: 0;
		margin-top: 0;
		li {
			position: relative;
			&:hover {
				ul {
					display: block;
				}
			}
			ul {
				left: 0;
				right: 0;
			}
			a {
				display: block;
				line-height: 1em;
			}
		}
	}
	> ul {
		> li {
			float: left;
			height: 100%;
			list-style: none;
			line-height: 1em;
			> a {

			}
			ul {
				display: none;
				position: absolute;
				top: 100%;
			}
		}
	}
	&.breakpoint-small {
		@include hnav-small;
	}
	.toggle { display: none; }
}

// hlist object
.megapony-object-hlist {
	> ul {
		@include clear-after;
		margin-bottom: 0;
		margin-top: 0;
		> li {
			float: left;
			height: 100%;
			list-style: none;
			line-height: 1em;
		}
	}
}


// media object
//http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.megapony-object-media {
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
	.img, .video {
		float: left;
		overflow: hidden;
		img {
			display: block;
		}
		&.right {
			float: right;
			margin-right: 0;
		}
	}
	.bd {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
		&.in-text {
			overflow: visible;
		}
	}
	&.no-side-by-side {
		.img, .video {
			float: none;
			display: inline-block;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
		.bd {
			min-width: 0 !important;
		}
		.video {
			width: 100%;
			.megapony-video { min-width: 0; }
		}
	}
}


// halign object
.megapony-object-halign {
	text-align: center;
	position: relative;
	@include clear-after;
	> * {
		text-align: left;
		vertical-align: top;
	}

	.center {
		display: inline-block;
		text-align: left;
		float: none;
		&.text-align-center { text-align: center; }
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}

	&.no-side-by-side {
		&.megapony-object-valign-middle { display: block; }
		.left, .center, .right {
			float: none;
			margin: 0;
			width: auto;
			max-width: 100%;
			&:last-child { margin-bottom: 0; }
		}
		.left { margin-right: 0; }
		.right { margin-left: 0; }
	}
}

// halign object
.megapony-object-valign-middle {
	text-align: left;
	display: table;
	width: 100%;
	.left, .center, .right {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
	.right > * { float: right; }

	&.full-width {
		.left, .center, .right {
			width: 100%;
			@include box-sizing(border-box);
		}
	}

	&.no-side-by-side {
		display: block;
		.left, .center, .right {
			display: block;
			width: auto !important;
			max-width: 100% !important;
		}
		.left { margin-right: 0 !important; }
		.right { margin-left: 0 !important; }
	}
}