#hashgrid {
	width: $container-max-width + px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: ($container-max-width/2) * -1 + px;
}

#hashgrid div.vert {

	width: round(($container-max-width / $grid-columns - $grid-gutter)) + px;
	border: solid darkturquoise;
	border-width: 0 1px;
	margin-right: $grid-gutter + px;

}

#hashgrid div.vert.first-line {
	margin-left: $grid-gutter + px;
}

#hashgrid div.horiz {
	height: 19px;
	border-bottom: 1px dotted #eee;
	margin: 0;
	padding: 0;

}

#hashgrid.grid-1 div.vert {
	border-color: darkturquoise;

}

#hashgrid.grid-2 {
	padding: 0 160px;
	width: 660px;

}

#hashgrid.grid-2 div.vert {
	border-color: crimson;
}