@mixin mq-width($breakpoint) {
	@if $breakpoint == medium {
		@media screen and (max-width: em(720)) { @content; }
	}
	@else if $breakpoint == small {
		@media screen and (max-width: em(320)) { @content; }
	}
}


@mixin clear-after {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}


@mixin box-sizing($type) {
	box-sizing: $type;
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
	-ms-box-sizing: $type;
}

@mixin adaptive-image {
	max-width: 100% !important;
	height: auto;
	display: block;
}

@mixin collapse-margins($total-margin) {
	margin-bottom: $total-margin;
	+ * {
		margin-top: 0;
	}
}

@mixin clear-common-last-child-styles {
	border-bottom: 0 none;
	margin-bottom: 0;
	padding-bottom: 0;;
}

@mixin reset-styles {
	float: none;
	display: inherit;
	width: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0 none;
}

@mixin clear-box-shadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none! important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}

@mixin hnav-small {
	> ul {
		display: none;
		float: left;
		width: 100%;
		@include rem(margin-top, 27);
		> li {
			width: 100%;
			@include box-sizing(border-box);
			margin-right: 0;
			padding-left: 0 !important;
			padding-right: 0 !important;
			border-left: 0 none !important;
			border-right: 0 none !important;
			@include rem(margin-bottom, 10);
			&:hover {
				padding-bottom: 0;
				ul {
					position: static;
				}
			}
		}
	}
	.toggle {
		position: absolute;
		display: inline-block;
		cursor: pointer;
		right: 0;
		top: 0;
		width: 38px;
		height: 27px;
		background: $linkColor;
		background: #2E3230;
		&:before, &:after {
			border: 2px solid #fff;
			content: '';
			left: 30%;
			position: absolute;
			right: 30%;
			top: 30%;
		}
		&:after {
			top: 60%;
		}
	}
}


@mixin word-break {
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}


@mixin rem($property, $value) {
	#{$property}: $value + 0px;
	#{$property}: 1 / $base-font-size * $value + 0rem;
}