html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

[class*="megapony-object-columns-"] {
  margin-right: -15px;
  margin-right: -0.9375rem;
  margin-left: -15px;
  margin-left: -0.9375rem; }
  [class*="megapony-object-columns-"]:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  [class*="megapony-object-columns-"] [class*="megapony-object-column"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    display: block;
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
    min-height: 1px; }
    [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small {
      clear: both;
      float: none;
      display: block;
      width: auto !important;
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
      [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small p {
        color: green; }
      [class*="megapony-object-columns-"] [class*="megapony-object-column"].breakpoint-small > * {
        float: none !important; }
  [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] {
    margin: 0; }
    [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] [class*="megapony-object-column"]:first-of-type {
      padding-left: 0; }
    [class*="megapony-object-columns-"] [class*="megapony-object-columns-"] [class*="megapony-object-column"]:last-of-type {
      padding-right: 0; }

[class*="megapony-object-columns-2"] > [class*="megapony-object-column"] {
  width: 50%; }

[class*="megapony-object-columns-2-2-10"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-2-2-10"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 83.33333%; }

[class*="megapony-object-columns-2-3-9"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-2-3-9"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 75%; }

[class*="megapony-object-columns-2-4-8"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-2-4-8"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 66.66667%; }

[class*="megapony-object-columns-2-5-7"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-2-5-7"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 58.33333%; }

[class*="megapony-object-columns-2-6-6"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 50%; }
[class*="megapony-object-columns-2-6-6"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 50%; }

[class*="megapony-object-columns-2-7-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 58.33333%; }
[class*="megapony-object-columns-2-7-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }

[class*="megapony-object-columns-2-8-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 66.66667%; }
[class*="megapony-object-columns-2-8-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }

[class*="megapony-object-columns-2-9-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 75%; }
[class*="megapony-object-columns-2-9-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }

[class*="megapony-object-columns-2-10-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 83.33333%; }
[class*="megapony-object-columns-2-10-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }

[class*="megapony-object-columns-3"] > [class*="megapony-object-column"] {
  width: 33.33333%; }

[class*="megapony-object-columns-3-2-2-8"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-2-8"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-2-8"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 66.66667%; }

[class*="megapony-object-columns-3-2-3-7"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-3-7"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-2-3-7"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 58.33333%; }

[class*="megapony-object-columns-3-2-4-6"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-4-6"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-2-4-6"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 50%; }

[class*="megapony-object-columns-3-2-5-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-5-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-2-5-5"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 41.66667%; }

[class*="megapony-object-columns-3-2-6-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-6-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 50%; }
[class*="megapony-object-columns-3-2-6-4"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 33.33333%; }

[class*="megapony-object-columns-3-2-7-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-7-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 58.33333%; }
[class*="megapony-object-columns-3-2-7-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-2-8-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-2-8-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 66.66667%; }
[class*="megapony-object-columns-3-2-8-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-3-2-7"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-2-7"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-3-2-7"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 58.33333%; }

[class*="megapony-object-columns-3-3-3-6"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-3-6"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-3-3-6"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 50%; }

[class*="megapony-object-columns-3-3-4-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-4-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-3-4-5"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 41.66667%; }

[class*="megapony-object-columns-3-3-5-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-5-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-3-5-4"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 33.33333%; }

[class*="megapony-object-columns-3-3-6-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-6-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 50%; }
[class*="megapony-object-columns-3-3-6-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-3-7-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 25%; }
[class*="megapony-object-columns-3-3-7-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 58.33333%; }
[class*="megapony-object-columns-3-3-7-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-4-2-6"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-2-6"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-4-2-6"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 50%; }

[class*="megapony-object-columns-3-4-3-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-3-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-4-3-5"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 41.66667%; }

[class*="megapony-object-columns-3-4-4-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-4-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-4-4"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 33.33333%; }

[class*="megapony-object-columns-3-4-5-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-5-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-4-5-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-4-6-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-4-6-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 50%; }
[class*="megapony-object-columns-3-4-6-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-5-2-5"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-5-2-5"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-5-2-5"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 41.66667%; }

[class*="megapony-object-columns-3-5-3-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-5-3-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-5-3-4"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 33.33333%; }

[class*="megapony-object-columns-3-5-4-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-5-4-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-5-4-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-5-5-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-5-5-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 41.66667%; }
[class*="megapony-object-columns-3-5-5-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-6-2-4"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 50%; }
[class*="megapony-object-columns-3-6-2-4"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-6-2-4"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 33.33333%; }

[class*="megapony-object-columns-3-6-3-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 50%; }
[class*="megapony-object-columns-3-6-3-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-6-3-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-6-4-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 50%; }
[class*="megapony-object-columns-3-6-4-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 33.33333%; }
[class*="megapony-object-columns-3-6-4-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-7-2-3"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 58.33333%; }
[class*="megapony-object-columns-3-7-2-3"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-7-2-3"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 25%; }

[class*="megapony-object-columns-3-7-3-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 58.33333%; }
[class*="megapony-object-columns-3-7-3-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 25%; }
[class*="megapony-object-columns-3-7-3-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-3-8-2-2"] > [class*="megapony-object-column"]:nth-child(1) {
  width: 66.66667%; }
[class*="megapony-object-columns-3-8-2-2"] > [class*="megapony-object-column"]:nth-child(2) {
  width: 16.66667%; }
[class*="megapony-object-columns-3-8-2-2"] > [class*="megapony-object-column"]:nth-child(3) {
  width: 16.66667%; }

[class*="megapony-object-columns-4"] > [class*="megapony-object-column"] {
  width: 25%; }

[class*="megapony-object-columns-5"] > [class*="megapony-object-column"] {
  width: 20%; }

[class*="megapony-object-columns-6"] > [class*="megapony-object-column"] {
  width: 16.66667%; }

[class*="megapony-object-columns-7"] > [class*="megapony-object-column"] {
  width: 14.28571%; }

[class*="megapony-object-columns-8"] > [class*="megapony-object-column"] {
  width: 12.5%; }

[class*="megapony-object-columns-9"] > [class*="megapony-object-column"] {
  width: 11.11111%; }

[class*="megapony-object-columns-10"] > [class*="megapony-object-column"] {
  width: 10%; }

[class*="megapony-object-columns-11"] > [class*="megapony-object-column"] {
  width: 9.09091%; }

[class*="megapony-object-columns-12"] > [class*="megapony-object-column"] {
  width: 8.33333%; }

html {
  font-size: 1em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  html.megapony-loading.javascript-is-enabled {
    overflow: hidden; }
    html.megapony-loading.javascript-is-enabled .megapony-loading {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: white url(../../Images/_megapony/background/megapony-loading.gif) no-repeat center center;
      z-index: 9999; }

body {
  background: white;
  color: #3b3b3b;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.text-align-center {
  text-align: center; }

.text-align-right {
  text-align: right; }

#page {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.megapony-delimiter {
  max-width: 960px;
  max-width: 60rem;
  padding-right: 30px;
  padding-right: 1.875rem;
  padding-left: 30px;
  padding-left: 1.875rem;
  margin: 0 auto; }
  .megapony-delimiter:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .javascript-is-disabled .megapony-delimiter {
    width: 960px;
    width: 60rem;
    max-width: none; }

img, embed, object {
  max-width: 100% !important;
  width: auto;
  height: auto; }

img {
  display: inline-block;
  vertical-align: middle; }

.megapony-video {
  min-width: 400px;
  min-width: 25rem; }

ul, ol {
  list-style: none; }

sup {
  position: relative;
  font-size: 68%;
  bottom: 0.5em; }

sub {
  position: relative;
  font-size: 68%;
  top: 0.5em; }

.megapony-object-hnav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.megapony-object-hnav ul {
  margin-bottom: 0;
  margin-top: 0; }
  .megapony-object-hnav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-hnav ul li {
    position: relative; }
    .megapony-object-hnav ul li:hover ul {
      display: block; }
    .megapony-object-hnav ul li ul {
      left: 0;
      right: 0; }
    .megapony-object-hnav ul li a {
      display: block;
      line-height: 1em; }
.megapony-object-hnav > ul > li {
  float: left;
  height: 100%;
  list-style: none;
  line-height: 1em;
  margin-right: 10px;
  margin-right: 0.625rem; }
  .megapony-object-hnav > ul > li:last-child {
    margin-right: 0; }
  .megapony-object-hnav > ul > li ul {
    display: none;
    position: absolute;
    top: 100%; }
.megapony-object-hnav.breakpoint-small > ul {
  display: none;
  float: left;
  width: 100%; }
  .megapony-object-hnav.breakpoint-small > ul > li {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
    .megapony-object-hnav.breakpoint-small > ul > li:hover ul {
      position: static; }
.megapony-object-hnav.breakpoint-small .toggle {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 38px;
  height: 27px;
  background: #438fc1;
  background: #2E3230; }
  .megapony-object-hnav.breakpoint-small .toggle:before, .megapony-object-hnav.breakpoint-small .toggle:after {
    border: 2px solid #fff;
    content: '';
    left: 30%;
    position: absolute;
    right: 30%;
    top: 30%; }
  .megapony-object-hnav.breakpoint-small .toggle:after {
    top: 60%; }

.megapony-object-hlist > ul {
  margin-bottom: 0;
  margin-top: 0; }
  .megapony-object-hlist > ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-hlist > ul > li {
    float: left;
    height: 100%;
    list-style: none;
    line-height: 1em;
    margin-right: 20px;
    margin-right: 1.25rem; }
    .megapony-object-hlist > ul > li:last-child {
      margin-right: 0; }

.megapony-object-media {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }
  .megapony-object-media .img, .megapony-object-media .video {
    float: left;
    margin-right: 20px;
    margin-right: 1.25rem;
    overflow: hidden; }
    .megapony-object-media .img img, .megapony-object-media .video img {
      display: block; }
    .megapony-object-media .img.right, .megapony-object-media .video.right {
      float: right;
      margin-right: 0;
      margin-left: 20px;
      margin-left: 1.25rem; }
  .megapony-object-media .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1; }
    .megapony-object-media .bd.in-text {
      overflow: visible; }
  .megapony-object-media.no-side-by-side .img, .megapony-object-media.no-side-by-side .video {
    float: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-left: 0;
    margin-right: 0; }
  .megapony-object-media.no-side-by-side .video {
    width: 100%; }
    .megapony-object-media.no-side-by-side .video .megapony-video {
      min-width: 0; }

.megapony-object-halign {
  text-align: center;
  position: relative; }
  .megapony-object-halign:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .megapony-object-halign > * {
    text-align: left;
    vertical-align: top; }
  .megapony-object-halign .center {
    display: inline-block;
    text-align: left;
    float: none; }
    .megapony-object-halign .center.text-align-center {
      text-align: center; }
  .megapony-object-halign .left {
    float: left;
    margin-right: 20px;
    margin-right: 1.25rem; }
  .megapony-object-halign .right {
    float: right;
    margin-left: 20px;
    margin-left: 1.25rem; }
  .megapony-object-halign.no-side-by-side.megapony-object-valign-middle {
    display: block; }
  .megapony-object-halign.no-side-by-side .left, .megapony-object-halign.no-side-by-side .center, .megapony-object-halign.no-side-by-side .right {
    float: none;
    margin: 0;
    width: auto;
    max-width: 100%; }
    .megapony-object-halign.no-side-by-side .left:last-child, .megapony-object-halign.no-side-by-side .center:last-child, .megapony-object-halign.no-side-by-side .right:last-child {
      margin-bottom: 0; }
  .megapony-object-halign.no-side-by-side .left {
    margin-right: 0; }
  .megapony-object-halign.no-side-by-side .right {
    margin-left: 0; }

.megapony-object-valign-middle {
  text-align: left;
  display: table;
  width: 100%; }
  .megapony-object-valign-middle .left, .megapony-object-valign-middle .center, .megapony-object-valign-middle .right {
    float: none;
    display: table-cell;
    vertical-align: middle; }
  .megapony-object-valign-middle .right > * {
    float: right; }

.l-integration-tests .test-results {
  width: 30px;
  height: 70px; }
  .l-integration-tests .test-results.success {
    background-color: green; }
  .l-integration-tests .test-results.failure {
    background-color: red; }
.l-integration-tests .max-width-target {
  color: black; }
.l-integration-tests .max-width-target.megapony-max-width-800 {
  color: red; }
.l-integration-tests .min-width-target {
  color: black; }
.l-integration-tests .min-width-target.megapony-min-width-800 {
  color: red; }
