@mixin outer-glow($value1, $value2) {
	-moz-box-shadow: $value1, $value2;
	-webkit-box-shadow: $value1, $value2;
	-o-box-shadow: $value1, $value2;
	box-shadow: $value1, $value2;
}

@mixin border-radius($lt, $rt, $lb, $rb) {
	-moz-border-radius: $lt $rt $lb $rb;
	-webkit-border-radius: $lt $rt $lb $rb;
	-o-border-radius: $lt $rt $lb $rb;
	border-radius: $lt $rt $lb $rb;
}

@mixin box-shadow($value1) {
	-moz-box-shadow: $value1;
	-webkit-box-shadow: $value1;
	-o-box-shadow: $value1;
	box-shadow: $value1;
}

@mixin clear-box-shadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none! important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}