
// LAYOUT SETTINGS
// declaration in px
$container-max-width: 1280;
$container-side-space: 30;

$grid-columns: 12;
$grid-gutter: 60;


// CSS Objects
// declaration in px
// hnav
$default-styling-hnav: true;
$hnav-margin: 10;

// halign
$default-styling-halign: true;
$halign-margin: 40;



// FONT SIZE
// declaration in px
$base-font-size: 16;
$tiny-font-size: 14;

$headline-sizes: 48, 28, 18, 18, $tiny-font-size;
$headline-default-margins: true;


// FONT FAMILIES
$font-stack-1: 'Open Sans', Arial, sans-serif;
$font-stack-2: 'Merriweather Sans', cursive;
$font-stack-3: Georgia, serif;
$font-stack-4: Arial, sans-serif;

$text-flow-margin: $base-font-size * 1.5;


// COLORS
$linkColor: #438fc1;
$linkColorVisited: #9db2c0;
$colors: #f5f5f5, #fff, #eee, #3b3b3b;