// project code goes here

.leader.megapony-max-width-500 {
	line-height: 1;
}

.l-banner {
	background: #2E3230;
	padding: rem(30) 0;
	> .megapony-object-halign {
		//min-height: 0; // test
		.left {
			margin-right: rem(20);
		}
		&.megapony-max-width-480 {
			h1 { font-size: rem(24); }
			.toggle {
				top: rem(19);
			}
		}
	}
	h1 {
		color: #fff;
		margin-bottom: 0;
		line-height: 1;
	}
	#main-nav {
		position: static;
		&.breakpoint-small {
			.toggle {
				right: rem($container-side-space);
				top: rem(40);
				background: #fff;
				&:before, &:after {
					border: 2px solid #2E3230;
				}
			}
		}
		> ul > li {
			min-width: rem(180);
			&:last-child {
				margin-right: 0;
			}
			> a {
				text-align: center;
				padding: rem(15) rem(28);
			}
		}
		li {
			background-color: rgba(255,255,255,0.08);
			a {
				text-decoration: none;
				color: #fff;

			}
			ul {
				li {
					background-color: #3E4240;
					border-top: 1px solid #333;
					a {
						padding: rem(10) rem(15);
					}
				}
			}
		}
		//&.megapony-min-width-760 {
		//	> ul > li {
		//		min-width: rem(140);
		//		> a {
		//			text-align: center;
		//			padding-left: rem(15);
		//			padding-right: rem(15);
		//		}
		//	}
		//}
	}
	#meta-nav {
		li {
			margin-right: rem(10);
			padding: rem(5) rem(10);
			background-color: rgba(255,255,255,0.03);
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #fff;
			}
		}
	}

	.no-side-by-side {
		#main-nav:not(.breakpoint-small) {
			margin-top: rem(20);
		}
	}
}

.l-footnote {
	font: {
		size: rem($tiny-font-size);
	//family: $font-stack-4;
	}
	background: nth($colors, 1);
	margin-top: rem(100);
	p {
		margin: 0;
		padding: rem(15) 0;
	}
}

.l-intro {
	background: nth($colors, 3);
	padding: rem(35) 0;
	.leader {
		margin-bottom: 0;
		&.megapony-min-width-1100.megapony-max-width-1200 {
			color: red;
		}
		&.megapony-max-width-1150 {
			font-size: rem(26);
			line-height: rem(34);
		}
	}
}

.l-hero {
	padding: rem(40) 0;
	margin-bottom: rem(40);
	background: nth($colors, 1);
	.intro-text {
		padding-top: rem(80);
	}
}


.l-features {
	.l-section {
		padding: em(60) 0;
		border-bottom: 1px solid #ddd;
		&:last-child {
			//@include clear-common-last-child-styles;
		}
		> :last-child {
			//@include clear-common-last-child-styles;
		}
	}
}

.l-cssobjects {
	[class*="megapony-object"] {
		margin-bottom: rem(40);
	}
	#demo-object-hnav {
		position: relative;
		padding: rem(10) rem(15);
		background: #f5f5f5;
		min-height: rem(27); // toggle height
		@include box-sizing(border-box);
		li {
			padding: 0 rem(25);
			margin-right: 0;
			//border-right: 1px solid nth($colors, 4);
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border-right: 0 none;
			}
		}
		&.breakpoint-small {
			> ul > li > a {
				background: #fff;
				padding: rem(8) rem(12);
			}
		}
	}
	.megapony-object-media {
		.img { margin-right: rem(20); }
		.leader {
			margin-bottom: rem(5);
		}
	}
}


table {
	width: 100%;
	th {
		background: nth($colors, 3);
		text-align: left;
		padding: 7px 8px;
	}
	td {
		text-align: left;
		padding: 5px 8px;
	}
	tr:nth-child(odd) td {
		background: nth($colors, 1);
	}
}