body {
  background: white;
  color: #3b3b3b;
  font-family: Arial, sans-serif; }

.megapony-object-media .img {
  margin-right: 20px;
  margin-right: 1.25rem; }
.megapony-object-media .bd {
  min-width: 300px;
  min-width: 18.75rem; }
.megapony-object-media.no-side-by-side .img {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem; }

p, pre, blockquote, ul, ol, dl, figure, table, fieldset, .css-object {
  margin-bottom: 32px;
  margin-bottom: 2rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.1em;
  margin: 0; }

h1 {
  font-weight: 700;
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0.5em; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 16px;
  margin-bottom: 1rem; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

.leader {
  font-family: Georgia, serif;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: 1.5em; }

a {
  color: #438fc1; }
  a:visited {
    color: #438fc1; }
  a:link, a:visited {
    text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

ul, ol {
  list-style: none; }

sup {
  position: relative;
  font-size: 68%;
  bottom: 0.5em; }

sub {
  position: relative;
  font-size: 68%;
  top: 0.5em; }

code {
  white-space: normal;
  font-weight: bold;
  color: #000; }

.l-banner {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem; }
  .l-banner > .megapony-object-halign.megapony-max-width-480 h1 {
    font-size: 24px;
    font-size: 1.5rem; }
  .l-banner .logo {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    margin-right: 50px;
    margin-right: 3.125rem;
    font-size: 42px;
    font-size: 2.625rem; }
  .l-banner #main-nav {
    position: static; }
    .l-banner #main-nav > ul > li {
      min-width: 160px;
      min-width: 10rem;
      margin-right: 10px;
      margin-right: 0.625rem; }
      .l-banner #main-nav > ul > li:last-child {
        margin-right: 0; }
      .l-banner #main-nav > ul > li > a {
        text-align: center;
        padding-top: 12px;
        padding-top: 0.75rem;
        padding-bottom: 12px;
        padding-bottom: 0.75rem;
        padding-left: 26px;
        padding-left: 1.625rem;
        padding-right: 26px;
        padding-right: 1.625rem; }
    .l-banner #main-nav li {
      background-color: #F5F5F5; }
      .l-banner #main-nav li a {
        text-decoration: none; }
      .l-banner #main-nav li ul li {
        background-color: #F5F5F5;
        border-top: 1px solid #eee; }
        .l-banner #main-nav li ul li a {
          padding-top: 8px;
          padding-top: 0.5rem;
          padding-bottom: 8px;
          padding-bottom: 0.5rem;
          padding-left: 15px;
          padding-left: 0.9375rem;
          padding-right: 15px;
          padding-right: 0.9375rem; }
  .l-banner .no-side-by-side #main-nav:not(.breakpoint-small) {
    margin-top: 20px;
    margin-top: 1.25rem; }

.l-element-queries .example {
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }
  .l-element-queries .example h3 {
    margin-bottom: 25px;
    margin-bottom: 1.5625rem; }
.l-element-queries .demo-text.megapony-max-width-999.megapony-min-width-400 {
  color: red; }
.l-element-queries .demo-text.megapony-max-width-280 {
  color: blue; }

.l-footnote {
  font-size: 14px;
  font-size: 0.875rem;
  background: #2E3230;
  margin-top: 100px;
  margin-top: 6.25rem;
  padding-top: 15px;
  padding-top: 0.9375rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem; }
  .l-footnote p {
    color: #fff;
    margin: 0; }

.l-intro {
  background: #f5f5f5;
  padding-top: 45px;
  padding-top: 2.8125rem;
  padding-bottom: 45px;
  padding-bottom: 2.8125rem; }
  .l-intro .leader {
    margin-bottom: 0; }
    .l-intro .leader.megapony-min-width-1100.megapony-max-width-1200 {
      color: red; }
    .l-intro .leader.megapony-max-width-1150 {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 38px;
      line-height: 2.375rem; }

.l-features .l-section {
  padding-top: 70px;
  padding-top: 4.375rem;
  padding-bottom: 70px;
  padding-bottom: 4.375rem;
  border-bottom: 1px solid #ddd; }

.l-cssobjects h3 {
  margin-top: 40px;
  margin-top: 2.5rem; }
.l-cssobjects #demo-object-vnav .toggle {
  display: none; }
.l-cssobjects #demo-object-vnav ul > li > ul {
  margin-left: 20px; }
.l-cssobjects #demo-object-vnav.megapony-max-width-400 .toggle {
  display: inline-block;
  cursor: pointer; }
.l-cssobjects #demo-object-vnav.megapony-max-width-400 ul {
  display: none; }
.l-cssobjects #demo-object-valign-middle input[type="text"] {
  width: 300px;
  margin-right: 15px; }
.l-cssobjects #demo-object-valign-middle.no-side-by-side input[type="text"] {
  margin-bottom: 10px; }

.l-columns [class*="megapony-object-columns-"] {
  margin-bottom: 30px;
  margin-bottom: 1.875rem; }
.l-columns .switch-position-demo.megapony-max-width-600 [class*="megapony-object-columns-"] {
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .l-columns .switch-position-demo.megapony-max-width-600 [class*="megapony-object-columns-"] [class*="megapony-object-column"] {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important; }

table {
  width: 100%; }
  table th {
    background: #eee;
    text-align: left;
    padding: 7px 8px; }
  table td {
    text-align: left;
    padding: 5px 8px; }
  table tr:nth-child(odd) td {
    background: #f5f5f5; }

.megapony-rwd-table-container.megapony-max-width-640 .rwd-table {
  display: none; }
.megapony-rwd-table-container.megapony-min-width-640 .stacktable {
  display: none; }
